@font-face {
  font-family: "popins";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype") regular,
    url(../assets/fonts/Poppins-Bold.ttf) format("truetype") bold,
    url(../assets/fonts/Poppins-Light.ttf) format("truetype") light,
    url(../assets/fonts/Poppins-Medium.ttf) format("truetype") medium,
    url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype") semibold;
}

@font-face {
  font-family: "helvetica";
  src: url(../assets/fonts/HelveticaNeueBold.ttf) format("truetype") bold,
    url(../assets/fonts/HelveticaNeue.ttf) format("truetype") regular;
}

$primary-font-regular: "popins", regular;
$primary-font-bold: "popins", bold;
$primary-font-light: "popins", light;
$primary-font-medium: "popins", medium;
$primary-font-semibold: "popins", semibold;
$secondary-font-regular: "helvetica", regular;
$secondary-font-bold: "helvetica", bold;

$font-100: 8pt;
$font-200: 10pt;
$font-300: 11pt;
$font-400: 13pt;
$font-500: 14pt;
$font-600: 15pt;
$font-700: 16pt;
$font-750: 16.8pt;
$font-800: 17pt;
$font-900: 18pt;
$font-1000: 19pt;
$font-1100: 20pt;
$font-1200: 22pt;
$font-1300: 23pt;
$font-1400: 24pt;
$font-1500: 25pt;
$font-1600: 26pt;
$font-1700: 32pt;
$font-1800: 40pt;
$font-1900: 41pt;
$font-2000: 45pt;
$font-2100: 48pt;
$font-2200: 86pt;
$font-2300: 136pt;
$font-2400: 167pt;
$font-2500: 181pt;
$font-2600: 184pt;
$font-2700: 164px;
